<section class="extension-cta dark no-mobile" id="contact">
  <div class="center-text">
    <img src="https://dev.twitch.tv/marketing-assets/images/landing/glitch-example.png" alt="Contact 8SEC" style="width: 400px;">
  </div>
  <div class="text-section">
    <h2 class="no-margin left-text" style="padding-top: 10px;">Let’s secure your next release</h2>
    <div style="display: flex">
      <a class="center-text btn light button-margin" href="mailto:contact@8sec.com">Email contact@8sec.com</a>
    </div>
  </div>
</section>
