<footer class="footer">
  <div class="footer__primary container">
    <div class="footer__logo">
      <a href="{{ '/' | relative_url }}" class="footer__item" style="text-decoration:none;color:#fff;font-weight:800">8Sec</a>
    </div>

    <div class="footer__links">
      <!-- <div>
        <h5>What We Do</h5>
        <ul>
          <li><a href="{{ '#services' | relative_url }}">Services</a></li>
          <li><a href="{{ '#showcase' | relative_url }}">Showcase</a></li>
          <li><a href="{{ '#contact'  | relative_url }}">Contact</a></li>
          <li><a href="https://8sec.com/">8sec.com</a></li>
        </ul>
      </div> -->
      <!-- <div>
        <h5>Company</h5>
        <ul>
          <li><a href="mailto:contact@8sec.com">Jobs (Email)</a></li>
          <li><a href="#">Brand</a></li>
          <li><a href="#">Events</a></li>
          <li><a href="#">Meetups</a></li>
        </ul>
      </div> -->
      <!-- <div>
        <h5>Newsroom</h5>
        <ul>
          <li><a href="https://8sec.com/blog">News</a></li>
          <li><a href="https://8sec.com/blog">Press</a></li>
        </ul>
      </div> -->
      <div>
        <h5>Services</h5>
        <ul>
          <li><a href="{{ '#services' | relative_url }}">AppSec-as-a-Service</a></li>
          <!-- <li><a href="{{ '#services' | relative_url }}">ASPM</a></li> -->
          <!-- <li><a href="{{ '#services' | relative_url }}">Registries</a></li> -->
          <!-- <li><a href="{{ '#services' | relative_url }}">Policy</a></li> -->
          <!-- <li><a href="{{ '#services' | relative_url }}">Training</a></li> -->
        </ul>
      </div>
      <!-- <div>
        <h5>Resources</h5>
        <ul>
          <li><a href="#">Legal</a></li>
          <li><a href="#">Help Center</a></li>
          <li><a href="#">Security</a></li>
        </ul>
      </div> -->
      <div>
        <h5>Connect</h5>
        <ul>
          <!-- <li><a href="Discord.com">Discord</a></li> -->
          <li><a href="480-370-1811">Phone</a></li>
          <li><a href="mailto:8Sec.Consulting@gmail.com">Email</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- <div class="footer__bottom">
    <div class="container">
      <div class="copyright">
        &copy; {{ "now" | date: "%Y" }} 8SEC LLC.
      </div>
    </div>
  </div> -->
</footer>
