<section class="hero main">
  <div class="container text-and-image">
    <div class="text-split">
      <h1 class="editable">8Sec — great security, built in.</h1>
      <h3 class="subtitle editable">
        AppSec-as-a-Service — built for modern pipelines, delivered by 8Sec.
      </h3>
      <div class="hero-buttons">
        <a class="btn" href="#contact">Book a Consult</a>
        <a class="btn secondary" href="#services">Explore Services</a>
      </div>
    </div>

    <div class="image-split">
      <a class="play-overlay sub-asset landing-page-video">
      </a>
    </div>
  </div>
</section>
