<section class="stories" id="showcase">
  <div class="container medium center-text">
    <h2>Recent Work</h2>
    <h5 class="learn-more">How teams are leveraging 8SEC.</h5>
  </div>
  <div class="container">
    <ul class="grid">
      <li class="story border highlight">
        <div class="story__image">
          <a target="_blank" href="#"><img src="https://dev.twitch.tv/uploads/fatshark2-3.png" alt="Case Study 1"></a>
        </div>
        <div class="story__content">
          <h4 class="title-only"><a target="_blank" href="#">ASPM mini-inventory cut MTTR by 35%</a></h4>
          <div class="story__links"><a target="_blank" class="btn secondary" href="#">Learn More</a></div>
        </div>
      </li>
      <li class="story border highlight">
        <div class="story__image">
          <a target="_blank" href="#"><img src="https://dev.twitch.tv/uploads/soundalertsdevsite.jpg" alt="Case Study 2"></a>
        </div>
        <div class="story__content">
          <h4 class="title-only"><a target="_blank" href="#">CI/CD guardrails without slowing devs</a></h4>
          <div class="story__links"><a target="_blank" class="btn secondary" href="#">Learn More</a></div>
        </div>
      </li>
      <li class="story border highlight">
        <div class="story__image">
          <a target="_blank" href="#"><img src="https://dev.twitch.tv/uploads/deadcellsdevsite.jpg" alt="Case Study 3"></a>
        </div>
        <div class="story__content">
          <h4 class="title-only"><a target="_blank" href="#">Risk scoring fed straight to tickets</a></h4>
          <div class="story__links"><a target="_blank" class="btn secondary" href="#">Learn More</a></div>
        </div>
      </li>
    </ul>
  </div>
</section>
