<section class="sock">
  <div class="container medium">
    <h3 class="center-text">Tools we work with</h3>
    <div class="row logos">
      <img src="https://dev.twitch.tv/marketing-assets/images/why-twitch/icons/bethesda.svg" alt="AWS" />
      <img src="https://dev.twitch.tv/marketing-assets/images/why-twitch/icons/blizzard.svg" alt="GitHub" />
      <img src="https://dev.twitch.tv/marketing-assets/images/why-twitch/icons/ubisoft.svg" alt="GitLab" />
      <img src="https://dev.twitch.tv/marketing-assets/images/why-twitch/icons/psyonix.png" alt="SonarQube" />
      <img src="https://dev.twitch.tv/marketing-assets/images/why-twitch/icons/cdpr.png" alt="DefectDojo" />
    </div>
  </div>
</section>
